In [2]:
# 파이썬 스타일 코드

# 1. join

colors = ['red', 'blue', 'green', 'yellow']
color_text =''
for color in colors:
    color_text += color
color_text

'redbluegreenyellow'

In [4]:
colors = ['red', 'blue', 'green', 'yellow']
color_text =''
for color in colors:
    color_text += color + ', '
color_text

'red, blue, green, yellow, '

In [6]:
color_text =''
for index, color in enumerate(colors):
    color_text += color
    if index != len(colors) - 1:
        color_text += ', '
color_text   # yellow 오른쪽 컴마를 붙이기 위해서

'red, blue, green, yellow'

In [8]:
', '.join(colors)  # 헐 1줄로 가능하네 ㄷㄷ

'red, blue, green, yellow'

In [11]:
', '.join(color for color in colors)

'red, blue, green, yellow'

In [13]:
' - '.join(color for color in colors)

'red - blue - green - yellow'

### 2. 리스트 컴프레션

In [15]:
# 기존 방법
empty_list = []
for i in range(10):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
a1 = [i for i in range(10)]
a1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
[2*x*x - 3*x + 5 for x in range(10)]

[5, 4, 7, 14, 25, 40, 59, 82, 109, 140]

In [23]:
import math
[math.sqrt(x) for x in range(1, 11)]  # sqrt 루트야!

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

- 조건을 부여할 수 있음 filtering

In [27]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [28]:
# 3항 연산자 활용
[i if i % 2 == 0 else 'odd' for i in range(10)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

- 중첩 반복문

In [30]:
str1 = '123'
str2 = 'xyz'
[i + k for i in str1 for k in str2]

['1x', '1y', '1z', '2x', '2y', '2z', '3x', '3y', '3z']

In [32]:
[i + k for i in str1 \
    for k in str2]

['1x', '1y', '1z', '2x', '2y', '2z', '3x', '3y', '3z']

- 2차원 리스트 만들기

In [36]:
text = 'a quick brown fox jumps over the lazy dog.'
[[word] for word in text.split()]

[['a'],
 ['quick'],
 ['brown'],
 ['fox'],
 ['jumps'],
 ['over'],
 ['the'],
 ['lazy'],
 ['dog.']]

In [38]:
[[w.upper(), w.lower(), len(w)] for w in text.split()]

[['A', 'a', 1],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG.', 'dog.', 4]]

### - 성능

In [40]:
def scalar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * vector)
    return result

In [41]:
iteration = 1000
vector = list(range(iteration))
scalar = 2

In [ ]:
%%time
for _ in range(iteration):
    scalar_vector_product(scalar, vector)

In [ ]:
%%time
for _ in range(iteration):
    [scalar * value for value in range(iteration)]

In [3]:
[i*i for i in range(2,10) if i%2 ==0]

[4, 16, 36, 64]

In [1]:
[i for i in range(9)]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
[i*i*i for i in range(10,20)]

[1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [9]:
first, second = map(int, input().split())
[ 2** i for i in range(first, second+1) \
    if i != first+1 and i != second-1]

[8, 32, 64, 128, 256, 1024]


### 3. dictionary comprehension

In [10]:
x = {'a':10, 'b':20, 'c':30, 'd':40}
{key:value for key, value in x.items()}

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [12]:
fruits = ['apple', 'banana','cherry']
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [13]:
{fruit:i*1000+1000 for i, fruit in enumerate(fruits)}

{'apple': 1000, 'banana': 2000, 'cherry': 3000}

In [14]:
import random
random.randint(1000, 2000)

1227

In [15]:
{fruit:random.randint(10,20)*100 for fruit in fruits}

{'apple': 1200, 'banana': 1400, 'cherry': 1300}

In [17]:
# 딕셔너리 필터링
x = {'a':10, 'b':20, 'c':30, 'd':40}
{key:value for key, value in x.items() if value !=30}

{'a': 10, 'b': 20, 'd': 40}

### 4. 다양한 방식의 리스트 출력

In [18]:
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [20]:
alist = ['a1', 'a2', 'a3']
blist = ['a1', 'a2', 'a3']
list(zip(alist, blist))

[('a1', 'a1'), ('a2', 'a2'), ('a3', 'a3')]

In [21]:
{a:b for a, b in zip(alist,blist)}

{'a1': 'a1', 'a2': 'a2', 'a3': 'a3'}

In [22]:
list(enumerate(zip(alist,blist)))

[(0, ('a1', 'a1')), (1, ('a2', 'a2')), (2, ('a3', 'a3'))]

In [23]:
for i, (a,b) in enumerate(zip(alist, blist)):
    print(i,a,b)

0 a1 a1
1 a2 a2
2 a3 a3