# 딕셔너리(dictionary))

In [1]:
딕셔너리 만들기 (c)

SyntaxError: invalid syntax (<ipython-input-1-57c7c05d331d>, line 1)

In [3]:
lux = {'health' :490, 'mana':334, 'melee':550, 'armor':18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [5]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [8]:
lux2 = dict([('health', 490),('mana', 334),
             ('melee', 550), ('armor', 18.72)])
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [10]:
list(zip([1,2,3], ['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [12]:
key_list = ['health', 'mana', 'melee', 'armor']
val_list = [490, 334, 550, 18.72]
list(zip(key_list, val_list))

[('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)]

In [14]:
lux3 = dict(zip(key_list, val_list))
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [16]:
lux['health']

490

### 딕셔너리 값 변경하기(U))

In [19]:
lux['health'] = 600
lux

{'health': 600, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [21]:
lux['mana']+=100
lux

{'health': 600, 'mana': 534, 'melee': 550, 'armor': 18.72}

In [23]:
lux['mana_regen'] = 3.28
lux

{'health': 600, 'mana': 534, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}

### 딕셔너리 값 삭제하기

In [26]:
lux.pop('mana_regen')
lux

KeyError: 'mana_regen'

In [27]:
del lux['armor']
lux

{'health': 600, 'mana': 534, 'melee': 550}

### 딕셔너리의 키 값들을 가져오기

In [31]:
lux2.keys()

dict_keys(['health', 'mana', 'melee', 'armor'])

In [33]:
lux2.values()

dict_values([490, 334, 550, 18.72])

### 딕셔너리 반복문

In [35]:
lux.items()

dict_items([('health', 600), ('mana', 534), ('melee', 550)])

In [37]:
for key, value in lux.items():
    print(key,value, lux[key])

health 600 600
mana 534 534
melee 550 550

In [39]:
for key, value in lux.items():
    print(key,value)

health 600
mana 534
melee 550

In [41]:
for key in lux.keys():
    print(key, lux[key])

health 600
mana 534
melee 550

In [42]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [44]:
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [46]:
terrestrial_planet['Earth']['orbital_period']

365.25641